body{
  width: 100%;
  height: 100vh;
  font-size: 16px;
  background-image: url("assets/background.svg");
  background-position: cover;
}

#profile{
  width: 100%;
  height: 100%;
  display: block;
}

.info-contact, .myskills{
  font-family: 'Raleway', sans-serif;
}
/* ----First-Part - Header ---- */

#info-picture{ 
  display: flex;
  justify-content: space-between;
  padding: 2%;
}


.info-contact{
  color: white;
}

.coding-lang{
  font-size: .6rem;
  text-align: right;
  padding-top: 2%;
}

.contact, .info{
  height: 50%;
  width: 100%;
  text-align: center;
}

.contact{
  position: relative;
  display: flex;
  justify-content: center;
}

.contact-position{
  position: absolute;
  bottom: 0;
}

h1{
  padding-top: 10%;
}

h1, h4{
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 2px;
}

img{
  border: 7px solid purple;
  border-image-source: linear-gradient(aqua, purple);
  border-image-slice: 20;
}

.name{
  padding-bottom: 2%;
}

/* ----Third Part - Bio ---- */

#bio{
  background: rgba(255,255,255, 0.8);
  display: flex;
  padding: 5% 2% 5% 2%;
}

.about-head, .goals-head, .hobby-head{
  display: flex;
  align-items: center;
  padding-bottom: 3%;
}

.goals, .hobby, .about{
  padding: 0 1% 0 1%;
  height: 100%;
  font-family: 'Lora', serif;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.goals{
  border-right: 3px dotted black;
  border-left: 3px dotted black;
}


.fas{
  font-size: 1.2rem;
  margin-right: .5rem;
}


/* ----Fourth Part - Skills---- */

#skills{
  color: white;
  padding-top: 2%;
}

h4{
  padding-left: 2%;
}

.myskills{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  line-height: 2rem;
}

.html, .css, .javascript{
  margin: 3% 5% 3% 5%;
  padding: 1%;
  text-align: center;
  color: white;
  transition: 0.3s;
}

.fa-stack{
  font-size: 2rem;
}

/*Skills Hover Effect*/

.html:hover, .css:hover, .javascript:hover{
  outline: none;
  border-color: whitesmoke;
  box-shadow: 0 0 10px whitesmoke;
  background-color: whitesmoke;
  color: black;
  border-radius: 5%;
  transform: scale(1.1);
}

/*Language Selector*/


.lang{
  padding: 1% 0 2% 2%;
  border-top: 1px solid white;
}

ul{
  display: inline-flex;
  list-style-type: none;
}

a{
  color: white;
  text-decoration: none;
}


/*Mobile First display*/

@media (max-width: 420px){ 
  img{
    width: 8rem;
    height: 8rem;
  }
  
  #bio{
    display: block;
  }
  
  .info-contact{
    padding-right: 3%;
  }
  
  .goals, .hobby, .about{
    padding: 3% 0 3% 0;
    border: none;
    height: 100%;
    line-height: 1.2rem;
    letter-spacing: 0.02rem;
  }

  .about{
    border-bottom: 3px dotted black;
  }
  
  .hobby{
    border-top: 3px dotted black;
  }
  
  h1, h4{
  font-size: 1.5rem;
  }
  
  .info{
    font-size: .8rem;
  }
  .coding-lang{
    font-size: .5rem;
  }
  .contact-position{
    font-size: 1.5rem;
    padding: 2% 5% 0 5%;
  }
  h2{
    font-size: 1rem;
    padding-bottom: 2%;
  }
}

/*Mobile Landscape Display*/

@media(min-width: 421px){
  img{
    width: 10rem;
    height: 10rem;
  }
  
.info-contact{
  padding-left: 20%;
}
  h1{
    padding-top: 10%;
  }
  h1, h4{
    font-size: 2rem;
  }
  .contact{
    font-size: 2rem;
  }
  h2{
    font-size: 1.2rem;
  }
}

/*Desktop and Tablet Display*/

@media (min-width: 769px){
  img{
    width: 20rem;
    height: 20rem;
  }
 .info-contact{
    padding-left: 20%;
  }
  
  h1{
    padding-top: 20%;
  }
  h1, h4{
    font-size: 3.5rem;
  }
  .contact{
    font-size: 2.5rem;
  }
  h2{
    font-size: 1.5rem;
  }
  
  .myskills{
    font-size: 1.5rem;
  }
  .fa-stack{
  font-size: 4rem;
  }
}


